    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>O nás</h2>
                <p>Obaja sme malé korporátne krysy hladajúce sami seba. Napadli mi mnohé filozofické úvahy (možno aj dve) o motivácii nášho cestovania v sedle talianskej hrkotajúcej rárohy so zanedbaným servisom, no nebudem tým predsa nikoho zaťažovať. Dajme tomu, že nás to baví a ako som raz počul na jednom ochotníckom predstavení: " Zaži si teho trocha, šak nač si na temto svejce? Abys zedeu vagón mäsa a vypiu bečku piva? Tos' moheu byt aj sviňa!".
                <p> </p>
                <p>_</p>
            </div>
        </div>
    </section>
